<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color:  #45B69C">
  <a class="navbar-brand" href="#"><i class="fas fa-tree"></i> Evergreen State of Mind</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/projects">Projects <span class="sr-only"></span></a>
      </li>
    </ul>
    <form action="/projects/search" method="post" class="form-inline my-2 my-lg-0">
      <input id="search" name="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" required>
      <button type="submit" class="btn btn-outline-light my-2 my-sm-0">Search</button>
    </form>
  </div>
</nav>
<div class="container">
  <br>
  <div class="card text-center">
    <div class="card-header" style="background-color: #D8DDEF">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link" href="/projects/<%= @project.id %>">Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/projects/<%= @project.id %>/edit">Edit Project</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h3 class="card-title"><%= @project.title %> (Edit)</h3>
      <p class="card-text">Project Description</p>
    </div>
  </div>
  <br>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card text-center shadow" style="background-color: #7293A0">
        <div class="card-header"><h5 class="card-title">Rename Project</h5></div>
          <div class="card-body">
            <form action="/projects/<%= @project.id %>" method="post">
            <input name="_method" type="hidden" value="patch">
            <form action="/projects/<%= @project.id %>/volunteers" method="post">
              <div class="form-group">
                <label for="title" style="color: #D8DDEF"> New Name</label>
                <input id="title" name="title" class="form-control" type="text" required>
              </div>
              <button type="submit" class="btn btn-dark">Update Project</button>
            </form>
          </div>
        </div>
    </div>
  </div>
  <br>
  <div class="row justify-content-center">
      <form action="/projects/<%= @project.id %>" method="post">
        <input name="_method" type="hidden" value="delete">
        <button type="submit" class="btn btn-danger" enabled>Delete Project</button>
      </form>
  </div>
</div>
<footer>
  <div class="fixed-bottom p-2" style="background-color: #45B69C">
    <p class="text-white">&#169; 2020 <em>Evergreen Stage of Mind</em></p>
  </div>
</footer>