<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color:  #45B69C">
  <a class="navbar-brand" href="#"><i class="fas fa-tree"></i> Evergreen State of Mind</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/projects">Projects <span class="sr-only"></span></a>
      </li>
    </ul>
    <form action="/projects/search" method="post" class="form-inline my-2 my-lg-0">
      <input id="search" name="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" required>
      <button type="submit" class="btn btn-outline-light my-2 my-sm-0">Search</button>
    </form>
  </div>
</nav>
<br>
<div class="container">
  <div class="card text-center" style="background-color:  #7293A0">
    <div class="card-header" style="background-color:  #7293A0">
      <h1><%= @volunteer.name %></h1>
      
    </div>
    <div class="card-body" style="background-color: #D8DDEF">
      <h5 class="card-title">Update Volunteer Details</h5>
      <div class="row">
        <div class="col-md">
          <form action="/projects/<%= @volunteer.project_id %>/volunteers/<%= @volunteer.id %>" method="post">
            <input name="_method" type="hidden" value="patch">
            <div class="form-group">
              <label for="name">Name</label>
              <input id="name" name="name" class="form-control mx-auto" type="text" style="width:25%" required>
            </div>
            <button type="submit" class="btn btn-dark">Change Name</button>
          </form>
        </div>

        <div class="col-md">
          <form action="/projects/<%= @volunteer.project_id %>/volunteers/<%= @volunteer.id %>" method="post">
            <input name="_method" type="hidden" value="patch">
            <div class="form-group">
              <label for="hours">Hours</label>
              <input id="hours" name="hours" class="form-control mx-auto" type="text" style="width:25%" required>
            </div>
            <button type="submit" class="btn btn-dark">Add Hours</button>
          </form>
        </div>
      </div>


    </div>
    <div class="card-footer text-white" style="background-color: #7293A0">
      <a href="/projects/<%= @project.id %>" style="color: #D8DDEF">Return to Poject: <%= @project.title %></a>
    </div>
  </div>
  <br>
  <br>
  <div class="d-flex justify-content-center">
    <form action="/projects/<%= @volunteer.project_id %>/volunteers/<%= @volunteer.id %>" method="post">
      <input name="_method" type="hidden" value="delete">
      <button type="submit" class="btn btn-danger" enabled>Delete Volunteer</button>
    </form>
  </div>
  
</div>
<footer>
  <div class="fixed-bottom p-2" style="background-color: #45B69C">
    <p class="text-white">&#169; 2020 <span style="color: #D8DDEF"><em>Evergreen State of Mind</em></span></p>
  </div>
</footer>